@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

main {
  background-color: #6d6868;
  margin: 0 10rem 0 10rem;
}



body {
  background-color: #6d6868;
}

h1 {
  color: #002717;
}

.subTitulo1 {
  color: #1f6648;
}

.subTitulo2 {
  color: #1f6648;
}

.texto {
  color: #00b368;
}

ul#menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

ul#menu li {
  padding: 3rem;
  list-style: none;
}

nav {
  background-color: #1f6648;
}

#icon {
  font-size: 1.5rem;
}

ul#menu li a {
  color: #002717;
  text-decoration: none;
}

ul#menu li:hover {
  transform: scale(1.2);
}

ul#menu li a:hover {
  color: aliceblue;
}

header img{
  width: 100%;
}

header h1{
  text-align: center;
  margin-top: 3rem;
}

header p {
  margin: 0 10rem 0 10rem;
  padding: 1rem;
}


